$estilos: (
    ancho: 100%,
    altoTitulo: 150px,
    fondo: $colorPrincipal,
    center: center,
    left: left,
    right: right,
    p40: 40px,
    fontSizeTitle: 42px,
    weight: bold,
    colorWhite: $color,
    font: $fuente,
    fontP: 14px,
    fontPmedia: 16px,
    tituloMedia: 36px
);