@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}

/* p {
    color: #404041;
} */
@media (max-width: 992px) {
  /* inicia detalles del menú responsive */
  header .modMenu a.linkMenu {
    padding: 10px;
    margin: 0px;
  }
  /* finaliza detalles menú responsive */
  /* inicia tuCvAliado.html responsive */
  main#tuCvAliado .cvAliado .v1, main#tuCvAliado .cvAliado .v2 {
    display: none;
  }
  /* finaliza tuCvAliado.html responsive */
  /* inicia servicios-TuCv.html responsive */
  main#serviciosMain .Servi {
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.5fr 0.35fr 0.5fr 0.35fr;
    grid-template-areas: "cs1 cs1" "cs2 cs3" "cs4 cs4" "cs5 cs6";
  }
  main#serviciosMain .Servi .s1, main#serviciosMain .Servi .s2, main#serviciosMain .Servi .s3, main#serviciosMain .Servi .s3 {
    display: none;
  }
  main#serviciosMain .Servi .cs2 img, main#serviciosMain .Servi .cs6 img {
    width: 75%;
  }
  main#serviciosMain .Servi .cs2, main#serviciosMain .Servi .cs6 {
    text-align: center;
  }
  /* finaliza servicios-TuCv.html responsive */
}
@media (max-width: 767px) {
  /* inicia index.html responsive */
  main#home {
    /* .NuestroTrabajo {
        .presentacion {
            .texto {
                p {
                    padding-right: 0px;
                }
            }
        }
    } */
  }
  main#home .quienesSomos, main#home .NuestroTrabajo {
    padding-bottom: 30px;
  }
  main#home .quienesSomos .presentacion .texto p, main#home .quienesSomos .presentacion .img, main#home .NuestroTrabajo .presentacion .texto p, main#home .NuestroTrabajo .presentacion .img {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
  }
  /* finaliza index.html responsive */
  /* inicia tuCvAliado.html responsive */
  main#tuCvAliado .cvAliado {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-areas: "c1" "c2" "c3" "c4" "c5";
  }
  main#tuCvAliado .cvAliado .c1, main#tuCvAliado .cvAliado .c2, main#tuCvAliado .cvAliado .c3, main#tuCvAliado .cvAliado .c4 {
    text-align: center;
    padding: 0px 30px 10px 30px;
    width: 75%;
    margin: 0px auto;
  }
  main#tuCvAliado .cvAliado .c1 p, main#tuCvAliado .cvAliado .c2 p, main#tuCvAliado .cvAliado .c3 p, main#tuCvAliado .cvAliado .c4 p {
    text-align: center;
    font-size: 16px;
  }
  main#tuCvAliado .cvAliado .c1, main#tuCvAliado .cvAliado .c2, main#tuCvAliado .cvAliado .c3 {
    border-bottom: 1px solid #706f6f;
  }
  /* finaliza tuCvAliado.html responsive */
  /* inicia RRSS-TuCv.html responsive */
  main#cvRRSS .RS {
    grid-template-columns: 100%;
    grid-template-rows: 10% 25% 10% 15% 25% 15%;
    grid-template-areas: "cv2" "cv1" "cv3" "cv5" "cv7" "cv6";
    text-align: center;
  }
  main#cvRRSS .RS p {
    font-size: 16px;
  }
  main#cvRRSS .RS .r1, main#cvRRSS .RS .r2, main#cvRRSS .RS .r3, main#cvRRSS .RS .r4, main#cvRRSS .RS .cv4 {
    display: none;
  }
  main#cvRRSS .RS .cv2 h2, main#cvRRSS .RS .cv5 h2, main#cvRRSS .RS .cv6 p, main#cvRRSS .RS .cv3 p {
    text-align: center;
  }
  main#cvRRSS .RS .cv7, main#cvRRSS .RS .cv1 {
    background: none;
  }
  main#cvRRSS .RS .cv7 img {
    height: 75%;
  }
  /* finaliza RRSS-TuCv.html responsive */
  /* inicia Servicios-TuCv.html responsive */
  main#serviciosMain .Servi {
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr 0.35fr 1fr 0.5fr 0.35fr 1fr;
    grid-template-areas: "cs1" "cs2" "cs3" "cs4" "cs6" "cs5";
    text-align: center;
    /* .s1, .s2, .s3, .s3 {
        display: none;
    }
    .cs2 img, .cs6 img {
        width: 50%;
    } */
  }
  main#serviciosMain .Servi p {
    text-align: center;
    font-size: 16px;
  }
  main#serviciosMain .Servi .cs5 p, main#serviciosMain .Servi .cs5 h3 {
    text-align: center;
  }
  main#serviciosMain .Servi .cs1, main#serviciosMain .Servi .cs4 {
    padding: 1.75rem 20px 0px 20px;
  }
  main#serviciosMain .Servi .cs1 h2, main#serviciosMain .Servi .cs4 h2 {
    font-size: 36px;
  }
  main#serviciosMain .Servi .cs3 ul, main#serviciosMain .Servi .cs5 ul {
    text-align: left;
  }
  /* finaliza Servicios-TuCv.html responsive */
  /* inicia contacto-TuCv.html responsive */
  main#contactoMain .contacto {
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas: "co2" "co4";
  }
  main#contactoMain .contacto .co1, main#contactoMain .contacto .co3 {
    display: none;
  }
  main#contactoMain .contacto .co2 {
    width: 100%;
    padding: 20px 20px;
    font-size: 36px;
  }
  main#contactoMain .contacto .co4 {
    width: 100%;
  }
  main#contactoMain .contacto .co4 p {
    font-size: 16px;
  }
  main#contactoMain .contacto #formContacto {
    width: 90%;
  }
  /* finaliza contacto-TuCv.html responsive */
}
header {
  width: 100%;
  height: 130px;
  position: sticky;
  top: 0px;
  background-color: white;
  padding: auto;
  margin: 0px auto;
}
header .modMenu {
  font-size: 18px;
  padding: 20px 15px;
  margin: 0px auto;
}
header .modMenu .linkMenu {
  padding: 30px;
  margin: 0px;
}
header .modMenu a.linkMenu:hover {
  background-color: #1d71b8;
  color: white;
}
header .modMenu .linkActivo {
  color: #1d71b8;
  font-weight: bold;
}
header .modMenu a.linkactivo:hover {
  color: white;
}
header .divCont {
  justify-content: center;
}

/* inicia estilos index.html */
#home .quienesSomos, #home .NuestroTrabajo {
  width: 100%;
}
#home .quienesSomos .presentacion, #home .NuestroTrabajo .presentacion {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 0px auto;
  justify-content: center;
}
#home .quienesSomos .presentacion .texto, #home .NuestroTrabajo .presentacion .texto {
  font-family: "Alata", sans-serif;
  font-size: 18px;
  color: #706f6f;
  vertical-align: top;
  padding: 20px 0px;
  width: 350px;
  height: 300px;
}
#home .quienesSomos .presentacion .img, #home .NuestroTrabajo .presentacion .img {
  width: 350px;
  height: 300px;
  text-align: right;
}
#home .quienesSomos .titulo, #home .NuestroTrabajo .titulo {
  width: 100%;
  height: 150px;
  background-color: #1d71b8;
  text-align: center;
  padding-top: 40px;
  font-family: "Alata", sans-serif;
  color: white;
}
#home .quienesSomos .titulo h2, #home .NuestroTrabajo .titulo h2 {
  font-size: 42px;
}
#home .quienesSomos .titulo p, #home .NuestroTrabajo .titulo p {
  font-size: 14px;
  text-align: center;
  color: white;
}
#home .quienesSomos .presentacion p {
  padding-left: 30px;
}
#home .NuestroTrabajo .presentacion {
  flex-flow: row-reverse wrap;
}
#home .NuestroTrabajo .presentacion .img {
  text-align: left;
}
#home .NuestroTrabajo .presentacion .texto p {
  text-align: right;
  padding-right: 30px;
}

/* finaliza estilos index.html */
/* inicia estilos tuCvAliado.html */
#tuCvAliado .cvAliado {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "v1 c1 c2 c3 v2" "v1 c4 c5 c5 v2";
  grid-gap: 20px;
  margin-top: 20px;
}
#tuCvAliado .cvAliado p {
  font-family: "Alata", sans-serif;
  font-size: 14px;
  color: #706f6f;
  text-align: left;
}
#tuCvAliado .cvAliado .v1 {
  grid-area: v1;
}
#tuCvAliado .cvAliado .c1 {
  grid-area: c1;
}
#tuCvAliado .cvAliado .c2 {
  grid-area: c2;
}
#tuCvAliado .cvAliado .c3 {
  grid-area: c3;
}
#tuCvAliado .cvAliado .c4 {
  grid-area: c4;
}
#tuCvAliado .cvAliado .c5 {
  grid-area: c5;
  text-align: center;
}
#tuCvAliado .cvAliado .v2 {
  grid-area: v2;
}

/* finaliza estilos tuCvAliado.html */
/* inicia estilos RRSS-TuCv.html */
#cvRRSS .RS {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr 0.75fr;
  grid-template-rows: 0.75fr 1fr 1fr 0.75fr 1fr;
  grid-template-areas: "r1 cv1 cv2 r3" "r1 cv1 cv3 r3" "r1 cv4 cv4 r3" "r2 cv5 cv7 r4" "r2 cv6 cv7 r4";
}
#cvRRSS .RS p {
  font-family: "Alata", sans-serif;
  font-size: 14px;
  color: #706f6f;
}
#cvRRSS .RS .r1 {
  grid-area: r1;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
}
#cvRRSS .RS .r2 {
  grid-area: r2;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
}
#cvRRSS .RS .r3 {
  grid-area: r3;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
}
#cvRRSS .RS .r4 {
  grid-area: r4;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
}
#cvRRSS .RS .cv1 {
  grid-area: cv1;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
}
#cvRRSS .RS .cv1 img, #cvRRSS .RS .cv7 img {
  margin: 30px 0px;
}
#cvRRSS .RS .cv2 {
  grid-area: cv2;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
}
#cvRRSS .RS .cv2 h2 {
  font-family: "Alata", sans-serif;
  font-size: 36px;
  color: white;
  margin: 20px 0px 0px 20px;
}
#cvRRSS .RS .cv3 {
  grid-area: cv3;
}
#cvRRSS .RS .cv3 p {
  margin: 20px;
  text-align: left;
}
#cvRRSS .RS .cv4 {
  grid-area: cv4;
}
#cvRRSS .RS .cv4 ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
#cvRRSS .RS .cv5 {
  grid-area: cv5;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
}
#cvRRSS .RS .cv5 h2 {
  font-family: "Alata", sans-serif;
  font-size: 36px;
  color: white;
  margin: 20px 0px 0px 20px;
  text-align: right;
  margin-right: 20px;
}
#cvRRSS .RS .cv6 {
  grid-area: cv6;
}
#cvRRSS .RS .cv6 p {
  text-align: right;
  margin: 20px;
}
#cvRRSS .RS .cv7 {
  grid-area: cv7;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
}
#cvRRSS .RS .r1, #cvRRSS .RS .cv4, #cvRRSS .RS .r3 {
  margin-bottom: 50px;
}

/* finaliza estilos RRSS-TuCv.html */
/* inicia estilos servicios-TuCv.html */
#serviciosMain .Servi {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: 0.5fr 1.25fr 0.5fr 1.25fr;
  grid-template-areas: "s1 cs1 cs1 s3" "s1 cs2 cs3 s3" "s2 cs4 cs4 s4" "s2 cs5 cs6 s4";
}
#serviciosMain .Servi p {
  font-family: "Alata", sans-serif;
  font-size: 14px;
  color: #706f6f;
}
#serviciosMain .Servi .s1 {
  grid-area: s1;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
}
#serviciosMain .Servi .s2 {
  grid-area: s2;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
}
#serviciosMain .Servi .s3 {
  grid-area: s3;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
}
#serviciosMain .Servi .s4 {
  grid-area: s4;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
}
#serviciosMain .Servi .cs1 {
  grid-area: cs1;
  height: 100%;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
  padding: 3rem 100px 0px 100px;
}
#serviciosMain .Servi .cs1 h2 {
  font-size: 40px;
  color: white;
  text-align: center;
}
#serviciosMain .Servi .cs2 {
  grid-area: cs2;
}
#serviciosMain .Servi .cs3 {
  grid-area: cs3;
  padding: 2rem;
}
#serviciosMain .Servi .cs3 p, #serviciosMain .Servi .cs3 ul {
  font-family: "Alata", sans-serif;
  font-size: 14px;
  color: #706f6f;
}
#serviciosMain .Servi .cs4 {
  grid-area: cs4;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
  text-align: right;
  padding: 3rem 100px 0px 100px;
}
#serviciosMain .Servi .cs4 h2 {
  font-size: 40px;
  color: white;
  text-align: center;
}
#serviciosMain .Servi .cs5 {
  grid-area: cs5;
  padding: 10px 30px;
}
#serviciosMain .Servi .cs5 p, #serviciosMain .Servi .cs5 h3 {
  text-align: right;
}
#serviciosMain .Servi .cs5 p, #serviciosMain .Servi .cs5 ul {
  font-family: "Alata", sans-serif;
  font-size: 14px;
  color: #706f6f;
}
#serviciosMain .Servi .cs6 {
  grid-area: cs6;
}

/* finaliza estilos servicios-TuCv.html */
/* inicia estilos contacto-TuCv.html */
#contactoMain .contacto {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.75fr 1fr 0.75fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-areas: "co1 co2 co3" "co1 co4 co3";
  /* estilos del formulario */
  /* finaliza estilos formulario */
}
#contactoMain .contacto p {
  font-family: "Alata", sans-serif;
  font-size: 14px;
  color: #706f6f;
}
#contactoMain .contacto .co1 {
  grid-area: co1;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
  text-align: right;
}
#contactoMain .contacto .co2 {
  grid-area: co2;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
  padding: 3rem 0%;
}
#contactoMain .contacto .co2 h1 {
  color: white;
  font-weight: bold;
  font-size: 42px;
}
#contactoMain .contacto .co3 {
  grid-area: co3;
  background: url(../img/lineaFondoEncabezado.jpg) repeat-x top;
  text-align: right;
}
#contactoMain .contacto .co4 {
  grid-area: co4;
}
#contactoMain .contacto #formContacto {
  width: 650px;
  margin: 0px auto;
  padding-top: 30px;
  font-size: 14px;
  color: #706f6f;
  text-align: left;
}
#contactoMain .contacto #formContacto p {
  margin-bottom: 20px;
}
#contactoMain .contacto #formContacto form div p {
  padding-top: 20px;
  font-family: "Alata", sans-serif;
  font-size: 14px;
  color: #706f6f;
}
#contactoMain .contacto #formContacto .datos1 {
  width: 300px;
  display: inline-block;
  font-family: "Alata", sans-serif;
  font-size: 14px;
  color: #706f6f;
  margin-bottom: 20px;
}
#contactoMain .contacto #formContacto .inputEstilo {
  font-style: italic;
  font-size: 12px;
  color: dimgray;
  padding: 5px;
  margin: 10px 0px 0px 5px;
  display: inline;
}
#contactoMain .contacto #formContacto .botonEnviarBorrar {
  width: 150px;
  height: 50px;
  background-color: #1d71b8;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  display: inline;
  margin: 10px;
  cursor: pointer;
}

/* finaliza estilos contactoTuCv.html */
.pie {
  width: 75%;
  height: 100%;
  margin: 0px auto;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-between;
}
.pie a {
  text-decoration: none;
}
.pie .copyPie {
  width: 500px;
  font: 12px "Alata", sans-serif;
  text-align: right;
  color: #706f6f;
}

footer .redes {
  width: 500px;
}/*# sourceMappingURL=main.css.map */